samples/flows/dashboard.json
[{"id":"c454f6d7.115718","type":"mqtt-broker","z":"3bffc8d9.073488","broker":"things.ubidots.com","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"5ebc0370.cde98c","type":"mqtt-broker","z":"3bffc8d9.073488","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"7a8f42b4.17a1dc","type":"mqtt in","z":"3bffc8d9.073488","name":"Internal Button","topic":"90b68602ab53/thing/button/out","broker":"5ebc0370.cde98c","x":133,"y":109,"wires":[["fc51cde8.24c1"]]},{"id":"7628c403.9053ac","type":"debug","z":"3bffc8d9.073488","name":"","active":false,"console":"false","complete":"false","x":555.5,"y":87,"wires":[]},{"id":"48ef98d1.4fe408","type":"function","z":"3bffc8d9.073488","name":"Translate","func":"msg.topic = '/v1.6/devices/my-data-source/button'\nmsg.payload = {\"value\": msg.payload.payload.data}\nreturn msg;","outputs":1,"noerr":0,"x":346.5,"y":96,"wires":[["7628c403.9053ac","360b3d00.9ce794"]]},{"id":"fc51cde8.24c1","type":"json","z":"3bffc8d9.073488","name":"","x":254.5,"y":53,"wires":[["48ef98d1.4fe408"]]},{"id":"fc35079b.346d78","type":"mqtt in","z":"3bffc8d9.073488","name":"External Button","topic":"/v1.6/devices/my-data-source/button/lv","broker":"c454f6d7.115718","x":126.5,"y":520,"wires":[["47d23d94.36bbd4","27d20868.aa00a8"]]},{"id":"47d23d94.36bbd4","type":"debug","z":"3bffc8d9.073488","name":"","active":false,"console":"false","complete":"false","x":344.5,"y":552,"wires":[]},{"id":"27d20868.aa00a8","type":"switch","z":"3bffc8d9.073488","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","outputs":2,"x":398,"y":493,"wires":[["d923ec32.31d9"],["f380cc5.84c723"]]},{"id":"d923ec32.31d9","type":"function","z":"3bffc8d9.073488","name":"on","func":"msg.topic = '90b68602ab53/thing/relay/in';\nmsg.payload = 'ON';\nglobal.set('button',1);\nreturn msg;","outputs":1,"noerr":0,"x":549,"y":457,"wires":[["c9bee126.0a63c"]]},{"id":"f380cc5.84c723","type":"function","z":"3bffc8d9.073488","name":"off","func":"msg.topic = '90b68602ab53/thing/relay/in';\nmsg.payload = 'OFF';\nglobal.set('button',0);\nreturn msg;","outputs":1,"noerr":0,"x":548,"y":523,"wires":[["c9bee126.0a63c"]]},{"id":"c9bee126.0a63c","type":"mqtt out","z":"3bffc8d9.073488","name":"Internal Button","topic":"","qos":"","retain":"","broker":"5ebc0370.cde98c","x":702.5,"y":485,"wires":[]},{"id":"360b3d00.9ce794","type":"mqtt out","z":"3bffc8d9.073488","name":"Exernal MQTT","topic":"","qos":"","retain":"","broker":"c454f6d7.115718","x":734,"y":213,"wires":[]},{"id":"67cb1fec.11733","type":"mqtt in","z":"3bffc8d9.073488","name":"Internal Relay","topic":"90b68602ab53/thing/relay/out","broker":"5ebc0370.cde98c","x":119.5,"y":277,"wires":[["cf9e1579.3af078"]]},{"id":"7b3061f1.d1fd4","type":"function","z":"3bffc8d9.073488","name":"Translate","func":"msg.topic = '/v1.6/devices/my-data-source/relay'\nmsg.payload = {\"value\": msg.payload.payload.data}\nreturn msg;","outputs":1,"noerr":0,"x":343,"y":264,"wires":[["360b3d00.9ce794"]]},{"id":"cf9e1579.3af078","type":"json","z":"3bffc8d9.073488","name":"","x":251,"y":221,"wires":[["7b3061f1.d1fd4"]]},{"id":"150a687d.e13bc8","type":"mqtt in","z":"3bffc8d9.073488","name":"Internal Temp","topic":"90b68602ab53/thing/temp/out","broker":"5ebc0370.cde98c","x":116.5,"y":373,"wires":[["56ac702a.49c7e"]]},{"id":"56ac702a.49c7e","type":"json","z":"3bffc8d9.073488","name":"","x":252.5,"y":331,"wires":[["67689.0de58978"]]},{"id":"67689.0de58978","type":"function","z":"3bffc8d9.073488","name":"Translate","func":"msg.topic = '/v1.6/devices/my-data-source/temp'\nmsg.payload = {\"value\": msg.payload.payload.data}\nreturn msg;","outputs":1,"noerr":0,"x":398,"y":374,"wires":[["360b3d00.9ce794"]]}]