samples/flows/funSystem.json
[{"id":"53c5fcf1.636cb4","type":"mqtt-broker","z":"4b9d293d.c34a08","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"4142f18c.8dc11","type":"mqtt in","z":"4b9d293d.c34a08","name":"Button Sensor","topic":"90b68602ab53/thing/button/out","broker":"53c5fcf1.636cb4","x":100.5,"y":164,"wires":[[]]},{"id":"2f3216dc.5356da","type":"mqtt in","z":"4b9d293d.c34a08","name":"Temp Sensor","topic":"90b68602ab53/thing/temp/out","broker":"53c5fcf1.636cb4","x":128.5,"y":516,"wires":[[]]},{"id":"9445c9fc.c72ed8","type":"switch","z":"4b9d293d.c34a08","name":"temp alert","property":"payload.payload.data","propertyType":"msg","rules":[{"t":"gt","v":"30","vt":"num"},{"t":"lte","v":"30","vt":"num"}],"checkall":"true","outputs":2,"x":309.5,"y":517,"wires":[["b27c8c1.ac28f7"],["32612c9.0282fd4"]]},{"id":"b27c8c1.ac28f7","type":"function","z":"4b9d293d.c34a08","name":"start","func":"if(!global.get('button')) {\n    msg.topic = '90b68602ab53/thing/relay/in';\n    msg.payload = 'ON';\n    return msg;    \n}\n","outputs":1,"noerr":0,"x":524.5,"y":491,"wires":[["a2b57344.a8438"]]},{"id":"32612c9.0282fd4","type":"function","z":"4b9d293d.c34a08","name":"stop","func":"if(!global.get('button')) {\n    msg.topic = '90b68602ab53/thing/relay/in';\n    msg.payload = 'OFF';\n    return msg;    \n}\n","outputs":1,"noerr":0,"x":520.5,"y":544,"wires":[["a2b57344.a8438"]]},{"id":"16e03c1e.6d0ab4","type":"switch","z":"4b9d293d.c34a08","name":"","property":"payload.payload.data","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","outputs":2,"x":276.5,"y":165,"wires":[["88a5cb65.8e5258"],["bf54b68a.de6a48"]]},{"id":"88a5cb65.8e5258","type":"function","z":"4b9d293d.c34a08","name":"ON","func":"msg.topic = '90b68602ab53/thing/relay/in';\nmsg.payload = 'ON';\nglobal.set('button',1);\nreturn msg;","outputs":1,"noerr":0,"x":415.5,"y":135,"wires":[["a2b57344.a8438"]]},{"id":"bf54b68a.de6a48","type":"function","z":"4b9d293d.c34a08","name":"OFF","func":"msg.topic = '90b68602ab53/thing/relay/in';\nmsg.payload = 'OFF';\nglobal.set('button',0);\nreturn msg;","outputs":1,"noerr":0,"x":418.5,"y":184,"wires":[["a2b57344.a8438"]]},{"id":"4f849f9c.a091c","type":"json","z":"4b9d293d.c34a08","name":"","x":197.5,"y":113,"wires":[["16e03c1e.6d0ab4"]]},{"id":"8520d113.04553","type":"mqtt in","z":"4b9d293d.c34a08","name":"Relay Sensor","topic":"90b68602ab53/thing/relay/out","broker":"53c5fcf1.636cb4","x":98.5,"y":328,"wires":[[]]},{"id":"81e78e1b.c73c9","type":"json","z":"4b9d293d.c34a08","name":"","x":224.5,"y":463,"wires":[["9445c9fc.c72ed8"]]},{"id":"79e441b.92607c","type":"json","z":"4b9d293d.c34a08","name":"","x":207.5,"y":280,"wires":[["7ec28e1.4c35a7"]]},{"id":"7ec28e1.4c35a7","type":"switch","z":"4b9d293d.c34a08","name":"","property":"payload.payload.data","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","outputs":2,"x":293.5,"y":329,"wires":[["a6755ed4.7f0ec"],["7c7ca5c4.c5e55c"]]},{"id":"a6755ed4.7f0ec","type":"function","z":"4b9d293d.c34a08","name":"ON","func":"msg.topic = '90b68602ab53/thing/led/in';\nmsg.payload = 'ON';\nmsg.displayR1 = '';\nmsg.displayR2 = 'WORKING ...';\nreturn msg;","outputs":"1","noerr":0,"x":427.5,"y":273,"wires":[["9e8746a0.bd66a8","a2b57344.a8438"]]},{"id":"7c7ca5c4.c5e55c","type":"function","z":"4b9d293d.c34a08","name":"OFF","func":"msg.topic = '90b68602ab53/thing/led/in';\nmsg.payload = 'OFF';\nmsg.displayR1 = '';\nmsg.displayR2 = 'NOT WORKING';\nreturn msg;    \n","outputs":"1","noerr":0,"x":424.5,"y":392,"wires":[["9e8746a0.bd66a8","a2b57344.a8438"]]},{"id":"9e8746a0.bd66a8","type":"function","z":"4b9d293d.c34a08","name":"Display","func":"msg.topic = '90b68602ab53/thing/display/in';\n\nvar message = {action:'WRITE', params:[]};\nmessage.params[0] = {text:msg.displayR1};\nmessage.params[1] = {text:msg.displayR2};\n\nmsg.payload = JSON.stringify(message);\n\nreturn msg;","outputs":1,"noerr":0,"x":553.5,"y":330,"wires":[["a2b57344.a8438"]]},{"id":"a2b57344.a8438","type":"mqtt out","z":"4b9d293d.c34a08","name":"Local MQTT","topic":"","qos":"","retain":"","broker":"53c5fcf1.636cb4","x":835.5,"y":325,"wires":[]},{"id":"19bb881e.f3a6d8","type":"comment","z":"4b9d293d.c34a08","name":"Internal message workflow for Fun System","info":"","x":183.5,"y":30,"wires":[]}]