samples/flows/motionSystem.json
[{"id":"53c5fcf1.636cb4","type":"mqtt-broker","z":"4b9d293d.c34a08","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"3a6f5a04.16bfb6","type":"mqtt-broker","z":"f4728a3d.2194a8","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"54823d9c.02db54","type":"mqtt in","z":"f4728a3d.2194a8","name":"Button Sensor","topic":"90b68602ab53/thing/button/out","broker":"3a6f5a04.16bfb6","x":106,"y":174,"wires":[["149f8a5c.a936b6"]]},{"id":"d9244d2d.d6407","type":"mqtt in","z":"f4728a3d.2194a8","name":"Temp Sensor","topic":"90b68602ab53/thing/temp/out","broker":"53c5fcf1.636cb4","x":134,"y":526,"wires":[["d29d302a.83e83"]]},{"id":"66733bc5.bc8a34","type":"switch","z":"f4728a3d.2194a8","name":"temp alert","property":"payload.payload.data","propertyType":"msg","rules":[{"t":"gt","v":"30","vt":"num"},{"t":"lte","v":"30","vt":"num"}],"checkall":"true","outputs":2,"x":315,"y":527,"wires":[["28bd973c.f9d818"],["154eade2.2373c2"]]},{"id":"28bd973c.f9d818","type":"function","z":"f4728a3d.2194a8","name":"start","func":"if(!global.get('button')) {\n    msg.topic = '90b68602ab53/thing/relay/in';\n    msg.payload = 'ON';\n    return msg;    \n}\n","outputs":1,"noerr":0,"x":530,"y":501,"wires":[["bed7273f.872208"]]},{"id":"154eade2.2373c2","type":"function","z":"f4728a3d.2194a8","name":"stop","func":"if(!global.get('button')) {\n    msg.topic = '90b68602ab53/thing/relay/in';\n    msg.payload = 'OFF';\n    return msg;    \n}\n","outputs":1,"noerr":0,"x":526,"y":554,"wires":[["bed7273f.872208"]]},{"id":"3b0ebb9d.15d9a4","type":"switch","z":"f4728a3d.2194a8","name":"","property":"payload.payload.data","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","outputs":2,"x":282,"y":175,"wires":[["38b2b7bc.8857b8"],["7b15a908.70ddc8"]]},{"id":"38b2b7bc.8857b8","type":"function","z":"f4728a3d.2194a8","name":"ON","func":"msg.topic = '90b68602ab53/thing/relay/in';\nmsg.payload = 'ON';\nglobal.set('button',1);\nreturn msg;","outputs":1,"noerr":0,"x":421,"y":145,"wires":[["bed7273f.872208"]]},{"id":"7b15a908.70ddc8","type":"function","z":"f4728a3d.2194a8","name":"OFF","func":"msg.topic = '90b68602ab53/thing/relay/in';\nmsg.payload = 'OFF';\nglobal.set('button',0);\nreturn msg;","outputs":1,"noerr":0,"x":424,"y":194,"wires":[["bed7273f.872208"]]},{"id":"149f8a5c.a936b6","type":"json","z":"f4728a3d.2194a8","name":"","x":203,"y":123,"wires":[["3b0ebb9d.15d9a4"]]},{"id":"53524d7a.c2ba84","type":"mqtt in","z":"f4728a3d.2194a8","name":"Relay Sensor","topic":"90b68602ab53/thing/relay/out","broker":"53c5fcf1.636cb4","x":104,"y":338,"wires":[["4be803d8.6dfd9c"]]},{"id":"d29d302a.83e83","type":"json","z":"f4728a3d.2194a8","name":"","x":230,"y":473,"wires":[["66733bc5.bc8a34"]]},{"id":"4be803d8.6dfd9c","type":"json","z":"f4728a3d.2194a8","name":"","x":213,"y":290,"wires":[["a5a16f5d.e9137"]]},{"id":"a5a16f5d.e9137","type":"switch","z":"f4728a3d.2194a8","name":"","property":"payload.payload.data","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","outputs":2,"x":299,"y":339,"wires":[["7e597890.df3828"],["647f1ce8.767124"]]},{"id":"7e597890.df3828","type":"function","z":"f4728a3d.2194a8","name":"ON","func":"msg.topic = '90b68602ab53/thing/led/in';\nmsg.payload = 'ON';\nmsg.displayR1 = '';\nmsg.displayR2 = 'WORKING ...';\nreturn msg;","outputs":"1","noerr":0,"x":433,"y":283,"wires":[["84927ac8.f105a8","bed7273f.872208"]]},{"id":"647f1ce8.767124","type":"function","z":"f4728a3d.2194a8","name":"OFF","func":"msg.topic = '90b68602ab53/thing/led/in';\nmsg.payload = 'OFF';\nmsg.displayR1 = '';\nmsg.displayR2 = 'NOT WORKING';\nreturn msg;    \n","outputs":"1","noerr":0,"x":430,"y":402,"wires":[["84927ac8.f105a8","bed7273f.872208"]]},{"id":"84927ac8.f105a8","type":"function","z":"f4728a3d.2194a8","name":"Display","func":"msg.topic = '90b68602ab53/thing/display/in';\n\nvar message = {action:'WRITE', params:[]};\nmessage.params[0] = {text:msg.displayR1};\nmessage.params[1] = {text:msg.displayR2};\n\nmsg.payload = JSON.stringify(message);\n\nreturn msg;","outputs":1,"noerr":0,"x":559,"y":340,"wires":[["bed7273f.872208"]]},{"id":"bed7273f.872208","type":"mqtt out","z":"f4728a3d.2194a8","name":"Local MQTT","topic":"","qos":"","retain":"","broker":"53c5fcf1.636cb4","x":841,"y":335,"wires":[]},{"id":"1ae4e04a.1c9d6","type":"mqtt in","z":"f4728a3d.2194a8","name":"Motion","topic":"90b68602ab53/thing/mov/out","broker":"3a6f5a04.16bfb6","x":89.5,"y":59,"wires":[["149f8a5c.a936b6"]]}]