samples/flows/mqttAWS.json
[{"id":"7f541c18.07f944","type":"mqtt-broker","z":"9755aea3.a6e03","broker":"ec2-54-214-112-170.us-west-2.compute.amazonaws.com","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"5ed83b77.719114","type":"mqtt-broker","z":"9755aea3.a6e03","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"f47550ea.27e29","type":"mqtt in","z":"9755aea3.a6e03","name":"Local Temp","topic":"90b68602ab53/thing/temp/out","broker":"5ed83b77.719114","x":105,"y":116,"wires":[["c7ccc97c.d11c78","dafdf542.ddb798"]]},{"id":"ab1ba7d9.0aa218","type":"mqtt out","z":"9755aea3.a6e03","name":"Cloud MQTT","topic":"","qos":"","retain":"","broker":"7f541c18.07f944","x":406.5,"y":97,"wires":[]},{"id":"611ef005.56e27","type":"debug","z":"9755aea3.a6e03","name":"","active":false,"console":"false","complete":"false","x":365.5,"y":418,"wires":[]},{"id":"c22670b.ef59f9","type":"mqtt in","z":"9755aea3.a6e03","name":"Cloud MQTT","topic":"90b68602ab53/#","broker":"7f541c18.07f944","x":140.5,"y":378,"wires":[["611ef005.56e27","22cb6907.9abb56"]]},{"id":"22cb6907.9abb56","type":"mqtt out","z":"9755aea3.a6e03","name":"","topic":"","qos":"","retain":"","broker":"5ed83b77.719114","x":439.5,"y":337,"wires":[]},{"id":"31be5b34.8b6a54","type":"debug","z":"9755aea3.a6e03","name":"","active":false,"console":"false","complete":"payload","x":477.5,"y":50,"wires":[]},{"id":"c7ccc97c.d11c78","type":"function","z":"9755aea3.a6e03","name":"transform","func":"msg.topic = 'cloud/' + msg.topic\nreturn msg;","outputs":1,"noerr":0,"x":279.5,"y":54,"wires":[["ab1ba7d9.0aa218","31be5b34.8b6a54"]]},{"id":"cd7d539e.f69a","type":"mqtt in","z":"9755aea3.a6e03","name":"Local MQTT","topic":"90b68602ab53/#","broker":"5ed83b77.719114","x":137.5,"y":251,"wires":[[]]},{"id":"340dc947.223b76","type":"function","z":"9755aea3.a6e03","name":"Parse Temp","func":"msg.payload = 'TEMP: ' + parseFloat(msg.payload.payload.data).toFixed(2);\nreturn msg;","outputs":1,"noerr":0,"x":384.5,"y":195,"wires":[["6ce0bded.14c7b4"]]},{"id":"6ce0bded.14c7b4","type":"debug","z":"9755aea3.a6e03","name":"","active":false,"console":"false","complete":"false","x":592.5,"y":195,"wires":[]},{"id":"dafdf542.ddb798","type":"json","z":"9755aea3.a6e03","name":"","x":224.5,"y":197,"wires":[["340dc947.223b76"]]}]