samples/flows/simpleButtonLed.json
[{"id":"4606057f.43f83c","type":"mqtt-broker","z":"e0cf85fb.efa778","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"e8329437.9956e8","type":"mqtt in","z":"e0cf85fb.efa778","name":"Internal Button","topic":"90b68602ab53/thing/button/out","broker":"4606057f.43f83c","x":109.5,"y":149,"wires":[["3cbe3db9.bfee22"]]},{"id":"3cbe3db9.bfee22","type":"json","z":"e0cf85fb.efa778","name":"","x":253.5,"y":88,"wires":[["76fa44f7.5fcacc"]]},{"id":"76fa44f7.5fcacc","type":"switch","z":"e0cf85fb.efa778","name":"","property":"payload.payload.data","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","outputs":2,"x":355.5,"y":151,"wires":[["6aed8834.0fe7b8"],["1cf5c4e0.7b9b9b"]]},{"id":"6aed8834.0fe7b8","type":"template","z":"e0cf85fb.efa778","name":"ON","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"action\":\"ON\"}","x":512.5,"y":107,"wires":[["eedae482.fd9868"]]},{"id":"1cf5c4e0.7b9b9b","type":"template","z":"e0cf85fb.efa778","name":"OFF","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"action\":\"OFF\"}","x":506,"y":181,"wires":[["eedae482.fd9868"]]},{"id":"eedae482.fd9868","type":"change","z":"e0cf85fb.efa778","name":"Internal Led","rules":[{"t":"set","p":"topic","pt":"msg","to":"90b68602ab53/thing/led/in","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":656.5,"y":153,"wires":[["415f95a.36c616c"]]},{"id":"415f95a.36c616c","type":"mqtt out","z":"e0cf85fb.efa778","name":"Internal MQTT","topic":"","qos":"","retain":"","broker":"4606057f.43f83c","x":846.5,"y":153,"wires":[]}]