docs/nodered/bluemix.flow.json
[{"id":"7ec172ea.cdc75c","type":"mqtt-broker","z":"78030a23.a9c914","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"c3628def.04948","type":"ibmiot in","z":"78030a23.a9c914","authentication":"quickstart","apiKey":"","inputType":"evt","deviceId":"90b68602ab53","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT App In","service":"quickstart","allDevices":false,"allApplications":false,"allDeviceTypes":true,"allEvents":true,"allCommands":false,"allFormats":false,"x":122,"y":639,"wires":[["6540bc9a.9ede24","a08b7825.f2a958"]]},{"id":"9299da79.c5a8d8","type":"function","z":"78030a23.a9c914","name":"temp","func":"return {payload:msg.payload.d.temp};","outputs":1,"x":130,"y":883,"wires":[["d95d88a7.682598"]]},{"id":"d95d88a7.682598","type":"switch","z":"78030a23.a9c914","name":"temp thresh","property":"payload","rules":[{"t":"lte","v":40,"v2":null},{"t":"gt","v":40,"v2":null}],"checkall":"true","outputs":2,"x":290,"y":883,"wires":[["13618632.7d3cea"],["72b69937.979548"]]},{"id":"86062c2f.36c1","type":"debug","z":"78030a23.a9c914","name":"cpu status","active":false,"complete":"false","x":630,"y":883,"wires":[]},{"id":"6540bc9a.9ede24","type":"debug","z":"78030a23.a9c914","name":"device data","active":true,"console":"false","complete":"true","x":332,"y":719,"wires":[]},{"id":"13618632.7d3cea","type":"template","z":"78030a23.a9c914","name":"safe","fieldType":"msg","syntax":"mustache","template":"Temperature ({{payload}}) within safe limits","x":450,"y":863,"wires":[["86062c2f.36c1"]]},{"id":"72b69937.979548","type":"template","z":"78030a23.a9c914","name":"danger","template":"Temperature ({{payload}}) critical","x":460,"y":903,"wires":[["86062c2f.36c1"]]},{"id":"73f27b69.d29c34","type":"ibmiot out","z":"78030a23.a9c914","authentication":"quickstart","apiKey":"","outputType":"evt","deviceId":"90b68602ab53","deviceType":"0.13.4-git","eventCommandType":"update","format":"json","data":"temp:10","name":"Send to IBM IoT Platform","service":"quickstart","x":598,"y":164,"wires":[]},{"id":"1c6512db.451a9d","type":"inject","z":"78030a23.a9c914","name":"Send Data","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":128,"y":164,"wires":[["6c66623b.78456c"]]},{"id":"6c66623b.78456c","type":"function","z":"78030a23.a9c914","name":"Device payload","func":"// Thermostat's location:\nvar longitude1 = -98.49;\nvar latitude1 = 29.42;\n\n// Array of pseudo random temperatures\nvar temp1 = [15,17,18.5,20,21.5,23,24,22.2,19,18];\n\n// Array of pseudo random relative humidities\nvar humidity1 = [50,55,61,68,65,60,53,49,45,47];\n\n// Counter to select from array.\nvar counter1 = context.get('counter1')||0;\ncounter1 = counter1+1;\nif(counter1 > 9) counter1 = 0;\ncontext.set('counter1',counter1);\n\n// Create MQTT message in JSON\nmsg = {\n  payload: JSON.stringify(\n    {\n      d:{\n        \"temp\" : temp1[counter1],\n        \"humidity\" : humidity1[counter1],\n        \"location\" :\n        {\n          \"longitude\" : longitude1,\n          \"latitude\" : latitude1\n        },\n      }\n    }\n  )\n};\nreturn msg;\n","outputs":1,"noerr":0,"x":348,"y":164,"wires":[["fe72ddf0.c5cd8","73f27b69.d29c34"]]},{"id":"fe72ddf0.c5cd8","type":"debug","z":"78030a23.a9c914","name":"Debug output payload","active":false,"console":"false","complete":"true","x":588,"y":224,"wires":[]},{"id":"7452a759.a872d8","type":"comment","z":"78030a23.a9c914","name":"Device Simulator","info":"Sends simulated device sensor data to IBM Watson IoT Plaform.\n\nCan be configured to send on click or on an automatic interval.\n\n\n#Prerequisite\nOutput node device type and device ID need to match a device that it registered in a running IBM Watson IoT Platform service.\n\n# Watson IoT Platform docs\n[Connecting devices](https://www.bluemix.net/docs/services/IoT/iotplatform_task.html)","x":128,"y":84,"wires":[]},{"id":"791d941b.75b5dc","type":"comment","z":"78030a23.a9c914","name":"1. Configure target","info":"","x":578,"y":124,"wires":[]},{"id":"2de7bc17.a59f64","type":"comment","z":"78030a23.a9c914","name":"2. Click to send data","info":"To automatically send data:\n1. Change *Repeat* to interval.\n2. Click Deploy button.\n","x":138,"y":204,"wires":[]},{"id":"ce2c4bf8.a1e108","type":"comment","z":"78030a23.a9c914","name":"Temperature Monitor","info":"","x":132,"y":539,"wires":[]},{"id":"b40dc74b.701498","type":"comment","z":"78030a23.a9c914","name":"Configure source","info":"","x":122,"y":599,"wires":[]},{"id":"9c14625e.00ce6","type":"mqtt in","z":"78030a23.a9c914","name":"TempSensor","topic":"sensor/temp/out","broker":"7ec172ea.cdc75c","x":119.5,"y":326,"wires":[["b9124d2f.3e07b"]]},{"id":"b9124d2f.3e07b","type":"function","z":"78030a23.a9c914","name":"TempSensor payload","func":"var data;\ntry{\n    data = JSON.parse(msg.payload);    \n}catch(e){\n    data = {};\n}\n\nvar humidity = 0;\n// Create MQTT message in JSON\nmsg = {\n  payload: JSON.stringify(\n    {\n      d:{\n        \"temp\" : Math.round(data.msg),\n        \"humidity\" : humidity\n      }\n    }\n  )\n};\nreturn msg;","outputs":1,"noerr":0,"x":372.5,"y":326,"wires":[["34713615.7c0aca","6f644ec4.6ee8d"]]},{"id":"6f644ec4.6ee8d","type":"ibmiot out","z":"78030a23.a9c914","authentication":"quickstart","apiKey":"","outputType":"evt","deviceId":"90b68602ab53","deviceType":"0.13.4-git","eventCommandType":"update","format":"json","data":"temp:10","name":"Send to IBM IoT Platform","service":"quickstart","x":639,"y":325,"wires":[]},{"id":"34713615.7c0aca","type":"debug","z":"78030a23.a9c914","name":"","active":false,"console":"false","complete":"true","x":518.5,"y":411,"wires":[]},{"id":"f9637aa7.e09888","type":"json","z":"78030a23.a9c914","name":"","x":271.5,"y":448,"wires":[["cbe244e1.1b3038"]]},{"id":"530ffaae.feec44","type":"mqtt in","z":"78030a23.a9c914","name":"Button","topic":"sensor/button/out","broker":"7ec172ea.cdc75c","x":96.5,"y":447,"wires":[["f9637aa7.e09888"]]},{"id":"cbe244e1.1b3038","type":"function","z":"78030a23.a9c914","name":"Button Payload","func":"msg = {\n  payload: JSON.stringify(\n    {\n      d:{\n        \"button\" : msg.payload.msg\n      }\n    }\n  )\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":464.5,"y":475,"wires":[["613ecb16.9ee9b4"]]},{"id":"613ecb16.9ee9b4","type":"ibmiot out","z":"78030a23.a9c914","authentication":"quickstart","apiKey":"","outputType":"evt","deviceId":"90b68602ab53","deviceType":"0.13.4-git","eventCommandType":"update","format":"json","data":"button:1","name":"Send to IBM IoT Platfo","service":"quickstart","x":695.5,"y":476,"wires":[]},{"id":"6f0ed830.41e9e8","type":"mqtt out","z":"78030a23.a9c914","name":"","topic":"","qos":"","retain":"","broker":"7ec172ea.cdc75c","x":529.5,"y":633,"wires":[]},{"id":"a08b7825.f2a958","type":"function","z":"78030a23.a9c914","name":"","func":"msg.topic = msg.payload.d.topic;\nmsg.payload = msg.payload.d.message;\nreturn msg;","outputs":1,"noerr":0,"x":329.5,"y":639,"wires":[["6f0ed830.41e9e8"]]}]