docs/nodered/heatting.flow.json
[{"id":"53c5fcf1.636cb4","type":"mqtt-broker","z":"4b9d293d.c34a08","broker":"localhost","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"4142f18c.8dc11","type":"mqtt in","z":"4b9d293d.c34a08","name":"Button Sensor","topic":"sensor/button/out","broker":"53c5fcf1.636cb4","x":151.5,"y":118,"wires":[["4f849f9c.a091c"]]},{"id":"2f3216dc.5356da","type":"mqtt in","z":"4b9d293d.c34a08","name":"Temp Sensor","topic":"sensor/temp/out","broker":"53c5fcf1.636cb4","x":128.5,"y":516,"wires":[["81e78e1b.c73c9"]]},{"id":"9445c9fc.c72ed8","type":"switch","z":"4b9d293d.c34a08","name":"temp thresh","property":"payload.msg","propertyType":"msg","rules":[{"t":"gt","v":"25","vt":"num"},{"t":"lte","v":"25","vt":"num"}],"checkall":"true","outputs":2,"x":319.5,"y":517,"wires":[["b27c8c1.ac28f7"],["32612c9.0282fd4"]]},{"id":"b27c8c1.ac28f7","type":"function","z":"4b9d293d.c34a08","name":"start","func":"msg.topic = 'sensor/relay/in';\nmsg.payload = 'ON';\nreturn msg;","outputs":1,"noerr":0,"x":524.5,"y":491,"wires":[["a2b57344.a8438"]]},{"id":"32612c9.0282fd4","type":"function","z":"4b9d293d.c34a08","name":"stop","func":"msg.topic = 'sensor/relay/in';\nmsg.payload = 'OFF';\nreturn msg;","outputs":1,"noerr":0,"x":520.5,"y":544,"wires":[["a2b57344.a8438"]]},{"id":"16e03c1e.6d0ab4","type":"switch","z":"4b9d293d.c34a08","name":"","property":"payload.msg","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","outputs":2,"x":345.5,"y":119,"wires":[["88a5cb65.8e5258"],["bf54b68a.de6a48"]]},{"id":"88a5cb65.8e5258","type":"function","z":"4b9d293d.c34a08","name":"on","func":"msg.topic = 'sensor/relay/in';\nmsg.payload = 'ON';\nreturn msg;","outputs":1,"noerr":0,"x":496.5,"y":83,"wires":[["a2b57344.a8438"]]},{"id":"bf54b68a.de6a48","type":"function","z":"4b9d293d.c34a08","name":"off","func":"msg.topic = 'sensor/relay/in';\nmsg.payload = 'OFF';\nreturn msg;","outputs":1,"noerr":0,"x":495.5,"y":149,"wires":[["a2b57344.a8438"]]},{"id":"4f849f9c.a091c","type":"json","z":"4b9d293d.c34a08","name":"","x":256.5,"y":184,"wires":[["16e03c1e.6d0ab4"]]},{"id":"8520d113.04553","type":"mqtt in","z":"4b9d293d.c34a08","name":"Relay Sensor","topic":"sensor/relay/out","broker":"53c5fcf1.636cb4","x":124.5,"y":328,"wires":[["79e441b.92607c","3a5721d7.2c8f2e"]]},{"id":"81e78e1b.c73c9","type":"json","z":"4b9d293d.c34a08","name":"","x":227.5,"y":567,"wires":[["9445c9fc.c72ed8"]]},{"id":"79e441b.92607c","type":"json","z":"4b9d293d.c34a08","name":"","x":242.5,"y":381,"wires":[["7ec28e1.4c35a7"]]},{"id":"7ec28e1.4c35a7","type":"switch","z":"4b9d293d.c34a08","name":"","property":"payload.msg","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","outputs":2,"x":363.5,"y":326,"wires":[["a6755ed4.7f0ec"],["7c7ca5c4.c5e55c"]]},{"id":"a6755ed4.7f0ec","type":"function","z":"4b9d293d.c34a08","name":"on","func":"msg.topic = 'sensor/led/in';\nmsg.payload = 'ON';\nmsg.displayR1 = '';\nmsg.displayR2 = 'Engine working';\nreturn msg;","outputs":"1","noerr":0,"x":505.5,"y":297,"wires":[["9e8746a0.bd66a8","a2b57344.a8438"]]},{"id":"7c7ca5c4.c5e55c","type":"function","z":"4b9d293d.c34a08","name":"off","func":"msg.topic = 'sensor/led/in';\nmsg.payload = 'OFF';\nmsg.displayR1 = '';\nmsg.displayR2 = 'Engine stoped';\nreturn msg;","outputs":"1","noerr":0,"x":505.5,"y":362,"wires":[["9e8746a0.bd66a8","a2b57344.a8438"]]},{"id":"9e8746a0.bd66a8","type":"function","z":"4b9d293d.c34a08","name":"Display","func":"msg.topic = 'sensor/display/in';\n\nvar message = {action:'WRITE', params:[]};\nmessage.params[0] = {text:msg.displayR1};\nmessage.params[1] = {text:msg.displayR2};\n\nmsg.payload = JSON.stringify(message);\n\nreturn msg;","outputs":1,"noerr":0,"x":664.5,"y":319,"wires":[["a2b57344.a8438"]]},{"id":"a2b57344.a8438","type":"mqtt out","z":"4b9d293d.c34a08","name":"Local MQTT","topic":"","qos":"","retain":"","broker":"53c5fcf1.636cb4","x":836.5,"y":319,"wires":[]},{"id":"3a5721d7.2c8f2e","type":"debug","z":"4b9d293d.c34a08","name":"","active":true,"console":"false","complete":"false","x":258.5,"y":265,"wires":[]}]