docs/nodered/service.flow.json
[{"id":"f2a7d0e4.baba7","type":"websocket-listener","z":"1ac73da0.175f82","path":"/ws/sensors","wholemsg":"false"},{"id":"cde41af6.e798c8","type":"mqtt-broker","z":"1ac73da0.175f82","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""},{"id":"8ac0f6a7.5f1598","type":"http in","z":"1ac73da0.175f82","name":"","url":"/edison/sensor","method":"post","swaggerDoc":"","x":175.5,"y":169,"wires":[["3f2c9e8c.94efc2","e377d473.58b8a8","db311eaa.791b3"]]},{"id":"3f2c9e8c.94efc2","type":"debug","z":"1ac73da0.175f82","name":"","active":true,"console":"false","complete":"false","x":409.5,"y":189,"wires":[]},{"id":"e377d473.58b8a8","type":"http response","z":"1ac73da0.175f82","name":"Response","x":407.5,"y":234,"wires":[]},{"id":"db311eaa.791b3","type":"function","z":"1ac73da0.175f82","name":"HandlePOST","func":"msg.topic = msg.payload.topic;\nmsg.payload = msg.payload.message;\nreturn msg;","outputs":1,"noerr":0,"x":414.5,"y":127,"wires":[["3a0bec40.47f894"]]},{"id":"3a0bec40.47f894","type":"mqtt out","z":"1ac73da0.175f82","name":"","topic":"","qos":"","retain":"","broker":"cde41af6.e798c8","x":745.5,"y":246,"wires":[]},{"id":"a2ec68cb.02c5d8","type":"websocket out","z":"1ac73da0.175f82","name":"","server":"f2a7d0e4.baba7","client":"","x":400.5,"y":527,"wires":[]},{"id":"67562c15.01c734","type":"websocket in","z":"1ac73da0.175f82","name":"","server":"f2a7d0e4.baba7","client":"","x":162.5,"y":355,"wires":[["623cd146.ae196"]]},{"id":"1aa102d9.3fb4bd","type":"debug","z":"1ac73da0.175f82","name":"","active":true,"console":"false","complete":"true","x":515.5,"y":352,"wires":[]},{"id":"623cd146.ae196","type":"json","z":"1ac73da0.175f82","name":"","x":369.5,"y":367,"wires":[["1aa102d9.3fb4bd","a6c238dc.ab34a8"]]},{"id":"a6c238dc.ab34a8","type":"function","z":"1ac73da0.175f82","name":"HandleWS","func":"msg.topic = msg.payload.topic;\nmsg.payload = msg.payload.message;\n\nreturn msg;","outputs":1,"noerr":0,"x":527.5,"y":414,"wires":[["3a0bec40.47f894"]]},{"id":"11ea221b.5e027e","type":"mqtt in","z":"1ac73da0.175f82","name":"TempSensor","topic":"sensor/temp/out","broker":"cde41af6.e798c8","x":166.5,"y":527,"wires":[["a2ec68cb.02c5d8"]]}]